<h1>This is Angular</h1>
<app-navi></app-navi>
<div class=container>
<!---add a log-in form--->
<!-- <h1>{{ title }}</h1> 
<p>Score: {{ score }} / 100</p> 
<p>Next yr: {{ currentYear + 1 }}</p> 
<p>Result: {{ getGrade() }}</p> 
<p>{{ score > 90 ? "Excellent!" : "Keep trying" }}</p> 



<button [disabled]="isDisabled">Submit</button>
<img [src]="imgSrc" [alt]="'Angular Logo'" [width]="80" />
<input type="number" [max]="inputMax" [placeholder]="'Enter score'" />


<button (click)="onClick()">Clicked {{ count }} times</button>
<input (keyup)="onKey($event)" placeholder="Press a key" />
<p>Last key: {{ lastKey }}</p>
<input (input)="onInput($event)" />



<input [(ngModel)]="studentName" />
<p>Hello, {{ studentName }}!</p>
<input type="range" min="0" max="100" [(ngModel)]="score2" />
<p>Score: {{ score2 }}</p>

<input [ngModel]="studentName" (ngModelChange)="studentName = $event" />



<td [attr.colspan]="span">Spans 2 columns</td>
<button [attr.aria-label]="ariaDesc">Submit</button>
<div [attr.data-user-id]="userId">User card</div>

<td [attr.colspan]="isWide ? 2 : null">Cell</td>



<div class="box"
[class.active]="isActive"
[class.error]="isError">
Status indicator
Active: {{isActive}} | Error: {{isError}}
</div>
<button (click)="toggleActive()">Toggle Active</button>
<button (click)="toggleError()">Toggle Error</button>

 
<p [ngClass]="{
'text-small': size === 'small',
'text-medium': size === 'medium',
'text-large': size === 'large'
}">Resizable text</p> -->




<router-outlet></router-outlet>

</div>
<footer></footer>